extends layout

block content
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        .position-relative.overflow-hidden.radial-gradient.min-vh-100.d-flex.align-items-center.justify-content-center
            .d-flex.align-items-center.justify-content-center.w-100
                .row.justify-content-center.w-100
                    .col-md-8.col-lg-6.col-xxl-3
                        .card.mb-0
                            .card-body
                                a.text-nowrap.logo-img.text-center.d-block.py-3.w-100(href='/stech.manager/home')
                                    img(src='/images/logos/logo.jpeg' width='180' alt='')
                                p.text-center Add Product
                                form
                                    .mb-3
                                        label.form-label(for='title') Name
                                        input#title.form-control(type='text' name="title" value="Hello World" aria-describedby='textHelp')
                                        //- p#title_value
                                    .mb-3
                                        label.form-label(for='description') description 
                                        input#description.form-control(type='text' name="description" aria-describedby='textHelp')
                                    .mb-3
                                        .form-group
                                            label(for="img_cover") Hình ảnh 
                                            input#img_cover(type="file", name="img_cover", accept="image/*")
                                    .mb-3
                                        label.form-label(for='price') price 
                                        input#price.form-control(type='number' name="price" aria-describedby='textHelp')
                                    .mb-3
                                        label.form-label(for='quantity') quantity 
                                        input#quantity.form-control(type='number' name="quantity" aria-describedby='textHelp')
                                    .mb-3
                                        label.form-label(for='sold') sold 
                                        input#sold.form-control(type='number' name="sold" aria-describedby='textHelp')
                                    .mb-3
                                        .form-group
                                            label(for="video") videoDes  
                                            input#video(type="file", name="video", accept="video/*")
                                    .mb-3
                                        .form-group
                                            label.form-label(for='Color') Color: 
                                                    input#color(type="checkbox" name="color")
                                                    label.form-label(for='Color') Black     
                                                    input#color(type="checkbox" name="color")
                                                    label.form-label(for='Color') White     
                                                    input#color(type="checkbox" name="color")
                                                    label.form-label(for='Color') Pink                                         
                                    .mb-3
                                        .form-group
                                            label(for="list_img") imageDes  
                                            input#list_img(type="file",multiple="multiple", name="list_img", accept="image/*")
                                    .mb-3
                                        label.form-label(for='date') date 
                                        input#date.form-control(type='text' name="date" aria-describedby='textHelp')
                                    .mb-3
                                        .form-group
                                            label.form-label(for='ram_rom') Ram-Rom: 
                                                    input#ram_rom(type="checkbox" name="ram_rom")
                                                    label.form-label(for='ram_rom' value="8/128gb") 8/128gb   
                                                    input#ram_rom(type="checkbox" name="ram_rom")
                                                    label.form-label(for='ram_rom' value="16/256gb") 16/256gb     
                                                    input#ram_rom(type="checkbox" name="ram_rom")
                                                    label.form-label(for='ram_rom' value="32/1T") 32/1T  
                                    a#addPro.btn.btn-primary.w-100.py-8.fs-4.mb-4.rounded-2(href='#') Add
                                    a#cancle.btn.btn-primary.w-100.py-8.fs-4.mb-4.rounded-2(href='/stech.manager/product') Cancle