extends layout

block content
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        // Sidebar Start
        aside.left-sidebar
            // Sidebar scroll
            div
                .brand-logo.d-flex.align-items-center.justify-content-between
                    a.text-nowrap.logo-img(href='/stech.manager/home')
                        img(src='/images/logos/logo.jpeg' width='180' alt='')
                    #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
                        i.ti.ti-x.fs-8
                // Sidebar navigation
                nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                    ul#sidebarnav
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Home
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/home' aria-expanded='false')
                                span
                                    i.ti.ti-layout-dashboard
                                span.hide-menu Dashboard
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Manager
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/product' aria-expanded='false')
                                span
                                    i.ti.ti-brand-producthunt
                                span.hide-menu Product
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/category' aria-expanded='false')
                                span
                                    i.ti.ti-category
                                span.hide-menu Category
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/cart' aria-expanded='false')
                                span
                                    i.ti.ti-shopping-cart
                                span.hide-menu Cart
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/chat' aria-expanded='false')
                                span
                                    i.ti.ti-message-chatbot
                                span.hide-menu Chat
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/notification' aria-expanded='false')
                                span
                                    i.ti.ti-notification
                                span.hide-menu Notification
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/user' aria-expanded='false')
                                span
                                    i.ti.ti-cards
                                span.hide-menu User
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/order' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Order
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu AUTH
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/login' aria-expanded='false')
                                span
                                    i.ti.ti-login
                                span.hide-menu Login
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/register' aria-expanded='false')
                                span
                                    i.ti.ti-user-plus
                                span.hide-menu Register
                // End Sidebar navigation
            // End Sidebar scroll
        // Sidebar End
        // Main wrapper
        .body-wrapper
            // Header Start
            header.app-header
                nav.navbar.navbar-expand-lg.navbar-light
                    ul.navbar-nav
                        li.nav-item.d-block.d-xl-none
                            a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover(href='javascript:void(0)')
                                i.ti.ti-menu-2
                    #navbarNav.navbar-collapse.justify-content-end.px-0
                        ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                            //- Add Category
                            a.btn.btn-outline-primary.mx-3.mt-2.d-block(href='#', id='openCategoryModal') Add Category
                            //- script.

                            //- End

                            li.nav-item.dropdown
                                a#drop2.nav-link.nav-icon-hover(href='javascript:void(0)' data-bs-toggle='dropdown' aria-expanded='false')
                                    img.rounded-circle(src='/images/logos/logo.jpeg' alt='' width='35' height='35')
                                .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                    .message-body
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='/stech.manager/profile')
                                            i.ti.ti-user.fs-6
                                            p.mb-0.fs-3 My Profile
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='')
                                            i.ti.ti-mail.fs-6
                                            p.mb-0.fs-3 My Account
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                            i.ti.ti-list-check.fs-6
                                            p.mb-0.fs-3 My Task
                                        a.btn.btn-outline-primary.mx-3.mt-2.d-block(href='./authentication-login.html') Logout

            // Header End
            .container-fluid
                .row
                    //- Item Category
                    each cate in category
                        .col-sm-6.col-xl-3
                            .card.overflow-hidden.rounded-2
                                .position-relative
                                    a(href='#')
                                        img.card-img-top.rounded-0(src=cate.img alt='...' style='max-width: 100%; height: 180px;')
                                    a.bg-primary.rounded-circle.p-2.text-white.d-inline-flex.position-absolute.bottom-0.end-0.mb-n3.me-3(href='javascript:void(0)' id='addToCartButton' data-bs-toggle='modal' data-bs-target='#addToCartModal' data-bs-placement='top' data-bs-title='Add To Cart')
                                        i.ti.ti-basket.fs-4
                                .card-body.pt-3.p-4
                                    h6.fw-semibold.fs-4= cate.title
                                    ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                                        li.nav-item.dropdown
                                            //- .nav-link
                                            a#drop2.nav-icon-hover(href='#' data-bs-toggle='dropdown' aria-expanded='false')
                                                button.btn.btn-secondary(type='button') Tuỳ chọn
                                                .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                                    .message-body
                                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                                            i.ti.ti-eye-off.fs-6
                                                            p.mb-0.fs-3 Ẩn khỏi app
                                                        a.d-flex.align-items-center.gap-2.dropdown-item
                                                            i.ti.ti-edit.fs-6
                                                            p.mb-0.fs-3 Sửa thông tin
                                                        a.d-flex.align-items-center.gap-2.dropdown-item.delCate(data-id=cate._id data-bs-toggle="modal" data-bs-target="#confirmDeleteCate")
                                                            i.ti.ti-trash.fs-6
                                                            p.mb-0.fs-3 Xoá sản phẩm
                                                        a.btn.btn-outline-primary.mx-3.mt-2.d-block.updateCate(data-id=cate._id  data-bs-toggle="modal" data-bs-target="#updateCategoryModal") Updating..
                //- Start Pagination
                nav(aria-label='Page navigation example')
                    ul.pagination.justify-content-end
                        li.page-item.disabled
                            a.page-link(href='#' tabindex='-1') Previous
                        li.page-item.active
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#') Next
                //- End Pagination

                .py-6.px-6.text-center
                    p.mb-0.fs-4
                        | Design and Developed by&nbsp;
                        a.pe-1.text-primary.text-decoration-underline(href='https://trinh-dien-203.onrender.com' target='_blank') STECH

            //- Modal Add Category
            div#categoryModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Thêm thể loại
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form(action="/", method="post")
                                .mb-4
                                    .form-group
                                        label(for="imageCate") Hình ảnh 
                                        input#imageCate(type="file" name="image" accept="image/*" onchange='previewImage(event)')
                                .mb-4
                                    .form-group#imageForm(style='display: none;')
                                        label(for="progressCate") Preview
                                        br
                                        img#imagePreview(src='' alt='Image Preview'  style='width:150px;height:100px;')
                                .mb-4
                                    .form-group(hidden)
                                        label(for="progressCate") Tiến trình
                                        p#progressCate
                                .mb-4
                                    .form-group
                                        label(for="nameCate") Tên sản phẩm
                                        input#nameCate(type="text", name="name", class="form-control", placeholder="", aria-describedby="helpId")
                                .mb-4
                                    .form-group
                                        label(for="dateCate") Date
                                        input#dateCate(type="datetime-local", name="date", class="form-control", placeholder="", aria-describedby="helpId")
                        .modal-footer
                            button.btn.btn-dark(type='button', data-bs-dismiss='modal') Huỷ
                            button.btn.btn-primary(type='button', id='saveCategoryButton') Thêm

            //- Modal Update Category
            div#updateCategoryModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Sửa thông tin thể loại
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            form(action="/", method="post")
                                .mb-4
                                    .form-group
                                        label(for="dateCate") ID
                                        input#idCate.idCate(type="text", name="idCate", class="form-control", placeholder="", aria-describedby="helpId" readonly)
                                .mb-4
                                    .form-group
                                        label(for="imageCate") Hình ảnh 
                                        input#imageCateUpdate(type="file" name="image" accept="image/*" onchange='previewImage(event)')
                                .mb-4
                                    .form-group#_imageForm(style='display: block;')
                                        label(for="progressCate") Preview
                                        br
                                        img#imageCateUpdatePreview.imageCateUpdatePreview(src='' alt='Image Preview'  style='width:150px;height:100px;')
                                .mb-4
                                    .form-group(hidden)
                                        label(for="progressCate") Tiến trình
                                        p#_progressCate
                                .mb-4
                                    .form-group
                                        label(for="nameCate") Tên sản phẩm
                                        input#nameCateUpdate.nameCateUpdate(type="text", name="name", class="form-control", placeholder="", aria-describedby="helpId")
                                .mb-4
                                    .form-group
                                        label(for="dateCate") Date
                                        input#dateCateUpdate.dateCateUpdate(type="text", name="date", class="form-control", placeholder="", aria-describedby="helpId")
                                
                        .modal-footer
                            button.btn.btn-dark(type='button', data-bs-dismiss='modal') Huỷ
                            button.btn.btn-primary(type='button', id='updateCategoryButton') Cập nhật
            
            //- Modal Fake Add to Cart
            div#addToCartModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Thêm vào giỏ hàng
                            button.close(type='button', data-bs-dismiss='modal') &times;
                        .modal-body
                            p Sản phẩm đã được thêm vào giỏ hàng.
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Tiếp tục mua
                            button.btn.btn-primary(type='button' data-bs-dismiss='modal' id='goMyCart') Đi tới giỏ hàng
            
            //- Modal Confirm Delete
            #confirmDeleteCate.modal(tabindex='-1')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Warning!
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            p Bạn có chắc chắn muốn xoá item này.
                        .modal-footer
                            button.btn.btn-dark(type='button' data-bs-dismiss='modal') Quay lại
                            button.btn.btn-danger(type='button' id='confirmDelete') Đồng ý
    script(src='/js/category.js')


