doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title bs4 product detail - Bootdey.com
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css', rel='stylesheet')
        style(type='text/css').
            body{
                background-color: #edf1f5;
                margin-top:20px;
            }
            .card {
                margin-bottom: 30px;
            }
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 0 solid transparent;
                border-radius: 0;
            }
            .card .card-subtitle {
                font-weight: 300;
                margin-bottom: 10px;
                color: #8898aa;
            }
            .table-product.table-striped tbody tr:nth-of-type(odd) {
                background-color: #f3f8fa!important
            }
            .table-product td{
                border-top: 0px solid #dee2e6 !important;
                color: #728299!important;
            }
    body
        link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        .container
            .card
                .card-body
                    h3.card-title Rounded Chair
                    h6.card-subtitle globe type chair for rest
                    .row
                        .col-lg-5.col-md-5.col-sm-6
                            .white-box.text-center
                                img.img-responsive(src='https://www.bootdey.com/image/430x600/00CED1/000000')
                        .col-lg-7.col-md-7.col-sm-6
                            h4.box-title.mt-5 Product description
                            p
                                | Lorem Ipsum available,but the majority have suffered alteration in some form,by injected humour,or randomised words which don&apos;t look even slightly believable.but the majority have suffered alteration in some form,by injected humour
                            h2.mt-5
                                | $153
                                small.text-success (36%off)
                            button.btn.btn-dark.btn-rounded.mr-1(data-toggle='tooltip', title='', data-original-title='Add to cart')
                                i.fa.fa-shopping-cart
                            button.btn.btn-primary.btn-rounded Buy Now
                            h3.box-title.mt-5 Key Highlights
                            ul.list-unstyled
                                li
                                    i.fa.fa-check.text-success
                                    | Sturdy structure
                                li
                                    i.fa.fa-check.text-success
                                    | Designed to foster easy portability
                                li
                                    i.fa.fa-check.text-success
                                    | Perfect furniture to flaunt your wonderful collectibles
                        .col-lg-12.col-md-12.col-sm-12
                            h3.box-title.mt-5 General Info
                            .table-responsive
                                table.table.table-striped.table-product
                                    tbody
                                        tr
                                            td(width='390') Brand
                                            td Stellar
                                        tr
                                            td Delivery Condition
                                            td Knock Down
                                        tr
                                            td Seat Lock Included
                                            td Yes
                                        tr
                                            td Type
                                            td Office Chair
                                        tr
                                            td Style
                                            td Contemporary&amp;Modern
                                        tr
                                            td Wheels Included
                                            td Yes
                                        tr
                                            td Upholstery Included
                                            td Yes
                                        tr
                                            td Upholstery Type
                                            td Cushion
                                        tr
                                            td Head Support
                                            td No
                                        tr
                                            td Suitable For
                                            td Study&amp;Home Office
                                        tr
                                            td Adjustable Height
                                            td Yes
                                        tr
                                            td Model Number
                                            td F01020701-00HT744A06
                                        tr
                                            td Armrest Included
                                            td Yes
                                        tr
                                            td Care Instructions
                                            td Handle With Care,Keep In Dry Place,Do Not Apply Any Chemical For Cleaning.
                                        tr
                                            td Finish Type
                                            td Matte
        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js')
        script(type='text/javascript').
