doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Invoice
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/css/detail_invoice.css')
    body
        .col-md-12
            .row
                .receipt-main.col-xs-10.col-sm-10.col-md-6.col-xs-offset-1.col-sm-offset-1.col-md-offset-3
                    .row
                        .receipt-header
                            .col-xs-6.col-sm-6.col-md-6
                                .receipt-left
                                    img.img-responsive(alt='iamgurdeeposahan', src='https://bootdey.com/img/Content/avatar/avatar6.png', style='width: 71px; border-radius: 43px;')
                            .col-xs-6.col-sm-6.col-md-6.text-right
                                .receipt-right
                                    h5 Company Name.
                                    p
                                        | +1 3649-6589
                                        i.fa.fa-phone
                                    p
                                        a.__cf_email__(href='/cdn-cgi/l/email-protection', data-cfemail='6b0804061b0a05122b0c060a020745080406') [email&nbsp;protected]
                                        |
                                        i.fa.fa-envelope-o
                                    p
                                        | USA
                                        i.fa.fa-location-arrow
                    .row
                        .receipt-header.receipt-header-mid
                            .col-xs-8.col-sm-8.col-md-8.text-left
                                .receipt-right
                                    h5 Customer Name
                                    p
                                        b Mobile :
                                        |  +1 12345-4569
                                    p
                                        b Email :
                                        |
                                        a.__cf_email__(href='/cdn-cgi/l/email-protection', data-cfemail='9dfee8eee9f2f0f8efddfaf0fcf4f1b3fef2f0') [email&nbsp;protected]
                                    p
                                        b Address :
                                        |  New York, USA
                            .col-xs-4.col-sm-4.col-md-4
                                .receipt-left
                                    h3 H&oacute;a &dstrok;&#x1A1;n # 102
                    div
                        table.table.table-bordered
                            thead
                                tr
                                    th M&ocirc; t&#x1EA3;
                                    th S&#x1ED1; ti&#x1EC1;n
                            tbody
                                tr
                                    td.col-md-9 Iphone 15 Pro Max 256
                                    td.col-md-3
                                        i.fa.fa-inr
                                        | 50.000.000 Vnd
                                tr
                                    td.col-md-9 Macbook E M1
                                    td.col-md-3
                                        i.fa.fa-inr
                                        | 78.000.000 Vnd
                                tr
                                    td.col-md-9 Airport Pro
                                    td.col-md-3
                                        i.fa.fa-inr
                                        | 5.000.000 Vnd
                                tr
                                    td.text-right
                                        p
                                            strong T&ocirc;&#x309;ng c&ocirc;&#x323;ng:
                                        p
                                            strong Ph&iacute; v&#x1EAD;n chuy&#x1EC3;n:
                                        p
                                            strong S&#x1ED1; ti&#x1EC1;n ph&#x1EA3;i tr&#x1EA3;:
                                        p
                                            strong S&#x1ED1; d&#x1B0;:
                                    td
                                        p
                                            strong
                                                i.fa.fa-inr
                                                |  65,500/-
                                        p
                                            strong
                                                i.fa.fa-inr
                                                |  500/-
                                        p
                                            strong
                                                i.fa.fa-inr
                                                |  1300/-
                                        p
                                            strong
                                                i.fa.fa-inr
                                                |  9500/-
                                tr
                                    td.text-right
                                        h2
                                            strong Th&agrave;nh ti&#x1EC1;n:
                                    td.text-left.text-danger
                                        h2
                                            strong
                                                i.fa.fa-inr
                                                |  31.566/-
                    .row
                        .receipt-header.receipt-header-mid.receipt-footer
                            .col-xs-8.col-sm-8.col-md-8.text-left
                                .receipt-right
                                    p
                                        b Date :
                                        |  15 Aug 2016
                                    h5(style='color: rgb(140, 140, 140);') Thanks for shopping.!
                            .col-xs-4.col-sm-4.col-md-4
                                .receipt-left
                                    h1 Stamp
        script(data-cfasync='false', src='/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js')
        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(src='https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
