doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Stech
        link(rel='stylesheet', href='/stylesheets/bootstrap/css/bootstrap.css')
    body
        script(src='/stylesheets/bootstrap/js/bootstrap.js')
        h1.text-center.mt-3 Cửa hàng công nghệ Stech
        block content
