doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Stech
        link(rel='shortcut icon' type='image/png' href='/images/logos/logo.jpeg')
        link(rel='stylesheet' href='/css/styles.min.css')
    body
        script(src='/stylesheets/bootstrap/js/bootstrap.js')
        block content
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
    script(src='/js/sidebarmenu.js')
    script(src='/js/app.min.js')
    script(src='/libs/apexcharts/dist/apexcharts.min.js')
    script(src='/libs/simplebar/dist/simplebar.js')
    script(src='/js/dashboard.js')
    script(src='../assets/libs/jquery/dist/jquery.min.js')
    script(src='../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js')
