doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Oder
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css', rel='stylesheet')
        link(rel='stylesheet', href='/css/style_order.css')
    body
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css', integrity='sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=', crossorigin='anonymous')
        link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css', rel='stylesheet')
        .container
            .card
                .card-body
                    .row
                        .col-xl-12
                            .card
                                .card-body
                                    .row.align-items-center
                                        .table-responsive.px-3
                                            table.table.table-striped.align-middle.table-nowrap
                                                tbody
                                                    tr
                                                        td
                                                            .avatar-lg.me-4
                                                                img.img-fluid.rounded(src='https://www.bootdey.com/image/380x380/00FFFF/000000', alt='')
                                                        td
                                                            div
                                                                h5.font-size-18
                                                                    a.text-dark(href='ecommerce-product-detail.html') Waterproof Mobile Phone
                                                                p.text-muted.mb-0.mt-2.pt-2
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star-half.text-warning
                                                        td
                                                            ul.list-unstyled.ps-0.mb-0
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  12MP TrueDepth front camera
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  Battery life: Up to 22 hours of video playback
                                                                li
                                                                    p.text-muted.mb-0.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  5G and Gigabit LTE
                                                        td(style='width: 180px;')
                                                            p Colors :
                                                            ul.list-inline.mb-0.text-muted.product-color
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-dark
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-success
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-primary
                                                        td(style='width: 220px;')
                                                            h3.mb-0.font-size-20
                                                                span.text-muted.me-2
                                                                    del.font-size-16.fw-normal $500
                                                                b $450
                                                        td
                                                            button.btn.btn-primary.waves-effect.waves-light(type='button')
                                                                i.bx.bx-cart.me-2.font-size-15.align-middle
                                                                |  Add
                                                        td
                                                            .dropdown.float-end
                                                                a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                                    i.bx.bx-dots-horizontal-rounded
                                                                .dropdown-menu.dropdown-menu-end
                                                                    a.dropdown-item(href='#') Edit
                                                                    a.dropdown-item(href='#') Action
                                                                    a.dropdown-item(href='#') Remove
                                                    tr
                                                        td
                                                            .avatar-lg.me-4
                                                                img.img-fluid.rounded(src='https://www.bootdey.com/image/380x380/0000FF/000000', alt='')
                                                        td
                                                            div
                                                                h5.font-size-18
                                                                    a.text-dark(href='ecommerce-product-detail.html') Smartphone Dual Camera
                                                                p.text-muted.mb-0.mt-2.pt-2
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                        td
                                                            ul.list-unstyled.ps-0.mb-0
                                                                li
                                                                    p.text-muted.mb-0.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  5G and Gigabit LTE
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  32MP TrueDepth front camera
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  Battery life: Up to 22 hours of video playback
                                                        td(style='width: 180px;')
                                                            p Colors :
                                                            ul.list-inline.mb-0.text-muted.product-color
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-primary
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-danger
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-warning
                                                        td(style='width: 220px;')
                                                            h3.mb-0.font-size-20
                                                                span.text-muted.me-2
                                                                    del.font-size-16.fw-normal $280
                                                                b $240
                                                        td
                                                            button.btn.btn-primary.waves-effect.waves-light(type='button')
                                                                i.bx.bx-cart.me-2.font-size-15.align-middle
                                                                |  Add
                                                        td
                                                            .dropdown.float-end
                                                                a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                                    i.bx.bx-dots-horizontal-rounded
                                                                .dropdown-menu.dropdown-menu-end
                                                                    a.dropdown-item(href='#') Edit
                                                                    a.dropdown-item(href='#') Action
                                                                    a.dropdown-item(href='#') Remove
                                                    tr
                                                        td
                                                            .avatar-lg.me-4
                                                                img.img-fluid.rounded(src='https://www.bootdey.com/image/380x380/008B8B/000000', alt='')
                                                        td
                                                            div
                                                                h5.font-size-18
                                                                    a.text-dark(href='ecommerce-product-detail.html') Black Colour Smartphone
                                                                p.text-muted.mb-0.mt-2.pt-2
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                        td
                                                            ul.list-unstyled.ps-0.mb-0
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  5G and Gigabit LTE
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  LiDAR Scanner for Night mode
                                                                li
                                                                    p.text-muted.mb-0.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  Face ID for secure authentication
                                                        td(style='width: 180px;')
                                                            p Colors :
                                                            ul.list-inline.mb-0.text-muted.product-color
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-info
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-danger
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-dark
                                                        td(style='width: 220px;')
                                                            h3.mb-0.font-size-20
                                                                span.text-muted.me-2
                                                                    del.font-size-16.fw-normal $500
                                                                b $450
                                                        td
                                                            button.btn.btn-primary.waves-effect.waves-light(type='button')
                                                                i.bx.bx-cart.me-2.font-size-15.align-middle
                                                                |  Add
                                                        td
                                                            .dropdown.float-end
                                                                a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                                    i.bx.bx-dots-horizontal-rounded
                                                                .dropdown-menu.dropdown-menu-end
                                                                    a.dropdown-item(href='#') Edit
                                                                    a.dropdown-item(href='#') Action
                                                                    a.dropdown-item(href='#') Remove
                                                    tr
                                                        td
                                                            .avatar-lg.me-4
                                                                img.img-fluid.rounded(src='https://www.bootdey.com/image/380x380/9932CC/000000', alt='')
                                                        td
                                                            div
                                                                h5.font-size-18
                                                                    a.text-dark(href='ecommerce-product-detail.html') Latest Smartphone Under 2000
                                                                p.text-muted.mb-0.mt-2.pt-2
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star-half.text-warning
                                                        td
                                                            ul.list-unstyled.ps-0.mb-0
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  20MP TrueDepth front camera
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  LiDAR Scanner for Night mode
                                                                li
                                                                    p.text-muted.mb-0.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  Compatible with MagSafe accessories
                                                        td(style='width: 180px;')
                                                            p Colors :
                                                            ul.list-inline.mb-0.text-muted.product-color
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-primary
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-success
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-warning
                                                        td(style='width: 220px;')
                                                            h3.mb-0.font-size-20
                                                                span.text-muted.me-2
                                                                    del.font-size-16.fw-normal $420
                                                                b $380
                                                        td
                                                            button.btn.btn-primary.waves-effect.waves-light(type='button')
                                                                i.bx.bx-cart.me-2.font-size-15.align-middle
                                                                |  Add
                                                        td
                                                            .dropdown.float-end
                                                                a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                                    i.bx.bx-dots-horizontal-rounded
                                                                .dropdown-menu.dropdown-menu-end
                                                                    a.dropdown-item(href='#') Edit
                                                                    a.dropdown-item(href='#') Action
                                                                    a.dropdown-item(href='#') Remove
                                                    tr
                                                        td
                                                            .avatar-lg.me-4
                                                                img.img-fluid.rounded(src='https://www.bootdey.com/image/380x380/1E90FF/000000', alt='')
                                                        td
                                                            div
                                                                h5.font-size-18
                                                                    a.text-dark(href='ecommerce-product-detail.html') New Phone Max Pro
                                                                p.text-muted.mb-0.mt-2.pt-2
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                        td
                                                            ul.list-unstyled.ps-0.mb-0
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  2MagSafe and Qi wireless charging
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  A15 Bionic chip with new 6-core CPU
                                                                li
                                                                    p.text-muted.mb-0.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  Compatible with MagSafe accessories
                                                        td(style='width: 180px;')
                                                            p Colors :
                                                            ul.list-inline.mb-0.text-muted.product-color
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-dark
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-danger
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-primary
                                                        td(style='width: 220px;')
                                                            h3.mb-0.font-size-20
                                                                span.text-muted.me-2
                                                                    del.font-size-16.fw-normal $470
                                                                b $390
                                                        td
                                                            button.btn.btn-primary.waves-effect.waves-light(type='button')
                                                                i.bx.bx-cart.me-2.font-size-15.align-middle
                                                                |  Add
                                                        td
                                                            .dropdown.float-end
                                                                a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                                    i.bx.bx-dots-horizontal-rounded
                                                                .dropdown-menu.dropdown-menu-end
                                                                    a.dropdown-item(href='#') Edit
                                                                    a.dropdown-item(href='#') Action
                                                                    a.dropdown-item(href='#') Remove
                                                    tr
                                                        td
                                                            .avatar-lg.me-4
                                                                img.img-fluid.rounded(src='https://www.bootdey.com/image/380x380/FF00FF/000000', alt='')
                                                        td
                                                            div
                                                                h5.font-size-18
                                                                    a.text-dark(href='ecommerce-product-detail.html') Smart Phone Pro +256
                                                                p.text-muted.mb-0.mt-2.pt-2
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star.text-warning
                                                                    i.bx.bxs-star-half.text-warning
                                                        td
                                                            ul.list-unstyled.ps-0.mb-0
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  13.7 cm (5.4-inch) Super Retina HDR and True Tone
                                                                li
                                                                    p.text-muted.mb-1.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  Battery life: Up to 22 hours of video playback
                                                                li
                                                                    p.text-muted.mb-0.text-truncate
                                                                        i.mdi.mdi-circle-medium.align-middle.text-primary.me-1
                                                                        |  Compatible with MagSafe accessories
                                                        td(style='width: 180px;')
                                                            p Colors :
                                                            ul.list-inline.mb-0.text-muted.product-color
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-primary
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-warning
                                                                li.list-inline-item
                                                                    i.mdi.mdi-circle.font-size-16.text-info
                                                        td(style='width: 220px;')
                                                            h3.mb-0.font-size-20
                                                                span.text-muted.me-2
                                                                    del.font-size-16.fw-normal $470
                                                                b $320
                                                        td
                                                            button.btn.btn-primary.waves-effect.waves-light(type='button')
                                                                i.bx.bx-cart.me-2.font-size-15.align-middle
                                                                |  Add
                                                        td
                                                            .dropdown.float-end
                                                                a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                                    i.bx.bx-dots-horizontal-rounded
                                                                .dropdown-menu.dropdown-menu-end
                                                                    a.dropdown-item(href='#') Edit
                                                                    a.dropdown-item(href='#') Action
                                                                    a.dropdown-item(href='#') Remove
        script(src='https://code.jquery.com/jquery-1.10.2.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js')
