extends layout

block content
    #main-wrapper.page-wrapper(data-layout='vertical' data-navbarbg='skin6' data-sidebartype='full' data-sidebar-position='fixed' data-header-position='fixed')
        // Sidebar Start
        aside.left-sidebar
            // Sidebar scroll
            div
                .brand-logo.d-flex.align-items-center.justify-content-between
                    a.text-nowrap.logo-img(href='/stech.manager/home')
                        img(src='/images/logos/logo.jpeg' width='180' alt='')
                    #sidebarCollapse.close-btn.d-xl-none.d-block.sidebartoggler.cursor-pointer
                        i.ti.ti-x.fs-8
                // Sidebar navigation
                nav.sidebar-nav.scroll-sidebar(data-simplebar='')
                    ul#sidebarnav
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Home
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/home' aria-expanded='false')
                                span
                                    i.ti.ti-layout-dashboard
                                span.hide-menu Dashboard
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu Manager
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/product' aria-expanded='false')
                                span
                                    i.ti.ti-brand-producthunt
                                span.hide-menu Product
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/category' aria-expanded='false')
                                span
                                    i.ti.ti-category
                                span.hide-menu Category
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/cart' aria-expanded='false')
                                span
                                    i.ti.ti-shopping-cart
                                span.hide-menu Cart
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/chat' aria-expanded='false')
                                span
                                    i.ti.ti-message-chatbot
                                span.hide-menu Chat
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/notification' aria-expanded='false')
                                span
                                    i.ti.ti-notification
                                span.hide-menu Notification
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/user' aria-expanded='false')
                                span
                                    i.ti.ti-cards
                                span.hide-menu User
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/order' aria-expanded='false')
                                span
                                    i.ti.ti-file-description
                                span.hide-menu Order
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/banner' aria-expanded='false')
                                span
                                    i.ti.ti-file-import
                                span.hide-menu Banner
                        li.nav-small-cap
                            i.ti.ti-dots.nav-small-cap-icon.fs-4
                            span.hide-menu AUTH
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/login' aria-expanded='false')
                                span
                                    i.ti.ti-login
                                span.hide-menu Login
                        li.sidebar-item
                            a.sidebar-link(href='/stech.manager/register' aria-expanded='false')
                                span
                                    i.ti.ti-user-plus
                                span.hide-menu Register
                // End Sidebar navigation
            // End Sidebar scroll
        // Sidebar End
        // Main wrapper
        .body-wrapper
            // Header Start
            header.app-header
                nav.navbar.navbar-expand-lg.navbar-light
                    ul.navbar-nav
                        li.nav-item.d-block.d-xl-none
                            a#headerCollapse.nav-link.sidebartoggler.nav-icon-hover(href='javascript:void(0)')
                                i.ti.ti-menu-2
                    #navbarNav.navbar-collapse.justify-content-end.px-0
                        ul.navbar-nav.flex-row.ms-auto.align-items-center.justify-content-end
                            li.nav-item.dropdown
                                a#drop2.nav-link.nav-icon-hover(href='javascript:void(0)' data-bs-toggle='dropdown' aria-expanded='false')
                                    img.rounded-circle(src='/images/logos/logo.jpeg' alt='' width='35' height='35')
                                .dropdown-menu.dropdown-menu-end.dropdown-menu-animate-up(aria-labelledby='drop2')
                                    .message-body
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='/stech.manager/profile')
                                            i.ti.ti-user.fs-6
                                            p.mb-0.fs-3 My Profile
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='')
                                            i.ti.ti-mail.fs-6
                                            p.mb-0.fs-3 My Account
                                        a.d-flex.align-items-center.gap-2.dropdown-item(href='javascript:void(0)')
                                            i.ti.ti-list-check.fs-6
                                            p.mb-0.fs-3 My Task

                                        a.btn.btn-outline-primary.mx-3.mt-2.d-block(href='./authentication-login.html') Logout


            // Header End
            .container-fluid
                form#searchForm(action='/search', method='GET')
                    .input-group.mb-3
                        input#searchInput.form-control(type='text', name='query', placeholder='Enter your search query...')
                        button#searchButton.btn.btn-outline-secondary(type='submit') Search
                ul.pagination.justify-content-center.mb-0
                    li.page-item(style='margin-right: 10px' id = 'getAllOrder')
                        a.btn.btn-primary(href='#' class='status-button') All
                    li.page-item(style='margin-right: 10px')
                        a.btn.btn-primary(class='status-button' data-status = 'WaitConfirm') Chờ xác nhận
                    li.page-item(style='margin-right: 10px')
                        a.btn.btn-primary(class='status-button' data-status = 'WaitingGet') Chờ lấy hàng
                    li.page-item(style='margin-right: 10px')
                        a.btn.btn-primary(class='status-button' data-status = 'InTransit') Đang giao hàng
                    li.page-item(style='margin-right: 10px')
                        a.btn.btn-primary(class='status-button' data-status = 'PayComplete') Đã thanh toán
                .row
                    table.table.table-striped.align-middle.table-nowrap
                        thead
                            tr
                                th.text-center Ảnh
                                th.text-center NameProduct
                                th.text-center InfoUser
                                th.text-center InfoProduct
                                th.text-center Price
                                th.text-center Action
                        tbody
                            each order in orders
                                tr
                                    td(style='text-align: center;')
                                        .avatar-lg.me-4
                                            img.img-fluid.rounded(src=order.allProductInfo[0].img_cover,style='max-width: 70%; height: 90px;', alt='')
                                    td
                                        div
                                            h5.font-size-18.text-center(style='font-size: 20px;')
                                                a.text-dark(href='ecommerce-product-detail.html')= order.allProductInfo[0].title
                                    td
                                        ul.list-unstyled.ps-0.mb-0
                                            li
                                                p.text-muted.mb-1.text-truncate.text-center
                                                    i.mdi.mdi-circle-medium.align-middle.text-primary.me-1 Name:
                                                        =  order.userInfo.full_name
                                            li
                                                p.text-muted.mb-1.text-truncate.text-center
                                                    i.mdi.mdi-circle-medium.align-middle.text-primary.me-1 Phone:
                                                        = order.userInfo.phone_number
                                    td(style='width: 180px;')
                                        ul.list-inline.mb-0.text-muted.product-color
                                            li
                                                p.text-muted.mb-1.text-truncate.text-center
                                                    i.mdi.mdi-circle-medium.align-middle.text-primary.me-1 Màu:
                                                        i.list-inline-item(style=`background-color: ${order.product[0].color};width: 20px; height: 20px;display: inline-block; vertical-align: middle; margin-left: 5px;border-radius: 50%;`)
                                            li
                                                p.text-muted.mb-1.text-truncate.text-center
                                                    i.mdi.mdi-circle-medium.align-middle.text-primary.me-1 Ram/Rom:
                                                        = order.product[0].ram_rom
                                            li
                                                p.text-muted.mb-0.text-truncate.text-center
                                                    i.mdi.mdi-circle-medium.align-middle.text-primary.me-1 Status:
                                                        if order.status === 'WaitingGet'
                                                            | Chờ lấy hàng
                                                        else if order.status === 'InTransit'
                                                            | Đang giao
                                                        else if order.status === 'PayComplete'
                                                            | Đã thanh toán
                                                        else if order.status === 'WaitConfirm'
                                                            | Chờ xác nhận

                                    td(style='width: 220px;')
                                        h3.mb-0.font-size-18.text-center(style='font-size: 15px;')
                                            span.text-muted.me-2
                                                | #{Intl.NumberFormat('vi-VN').format(order.allProductInfo[0].price)} VND
                                            a.dropdown-item.d-none(id="btnGetAddress" data-status = order.addressId data-bs-toggle="modal" data-bs-target="#UpdateStatusOrderModal")
                                    td
                                        .dropdown.text-center
                                            a.text-muted.dropdown-toggle.font-size-20(href='#', role='button', data-bs-toggle='dropdown', aria-haspopup='true')
                                                i.bx.text-center
                                            .dropdown-menu.dropdown-menu-end
                                                a.dropdown-item(href='#') Xem chi tiết
                                                if order.status === 'WaitConfirm'
                                                    a.dropdown-item(class='updateStatusOrder' id = "updateOrderButton" data-id = order._id data-bs-toggle="modal" data-bs-target="#UpdateStatusOrderModal") Chờ lấy hàng
                                                if order.status === 'WaitingGet'
                                                    a.dropdown-item(class='updateStatusOrder' id = "updateOrderButton" data-id = order._id data-bs-toggle="modal" data-bs-target="#UpdateStatusOrderModal") Đang giao
                                                if order.status === 'InTransit'
                                                    a.dropdown-item(class='updateStatusOrder' id = "updateOrderButton" data-id = order._id data-bs-toggle="modal" data-bs-target="#UpdateStatusOrderModal") Đă thanh toán
                                                if order.status === 'PayComplete'
                                                    a.dropdown-item.d-none(class='updateStatusOrder' id="updateOrderButton" data-id = order._id data-bs-toggle="modal" data-bs-target="#UpdateStatusOrderModal")
                //- Start Pagination
                .text-center.mt-3.mt-sm-3
                    ul.pagination.justify-content-center.mb-0
                        li.page-item.disabled
                            span.page-link Prev
                        li.page-item.active(aria-current='page')
                            span.page-link 1
                            span.sr-only (current)
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#') ...
                        li.page-item
                            a.page-link(href='#') 25
                        li.page-item
                            a.page-link(href='#') Next
                //- End Pagination
                .py-6.px-6.text-center
                    p.mb-0.fs-4
                        | Design and Developed by&nbsp;
                        a.pe-1.text-primary.text-decoration-underline(href='https://trinh-dien-203.onrender.com' target='_blank') STECH

            #UpdateStatusOrderModal.modal(tabindex='-1')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h5.modal-title Warning!
                            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        .modal-body
                            p Bạn có chắc chắn muốn thay đổi trạng thái?
                        .modal-footer
                            button.btn.btn-dark(type='button' data-bs-dismiss='modal') Quay lại
                            button.btn.btn-danger(type='button' id = 'buttonConfirm' class='confirmUpdateStatusOrder') Đồng ý
                        form(action="/", method="post").d-none
                            .mb-4
                                .form-group
                                    label(for="inputOrderId") Tên sản phẩm
                                    input(type="text", id = "inputOrderId", name="name", class="form-control", placeholder="", aria-describedby="helpId")
                            .mb-4
                                .form-group
                                    label(for="inputUserId") Tên sản phẩm
                                    input(type="text", id = "inputUserId", name="name", class="form-control", placeholder="", aria-describedby="helpId")
                            .mb-4
                                .form-group
                                    label(for="inputAddressId") Tên sản phẩm
                                    input(type="text", id = "inputAddressId", name="name", class="form-control", placeholder="", aria-describedby="helpId")
                            .mb-4
                                .form-group
                                    label(for="inputStatus") Tên sản phẩm
                                    input(type="text",id = "inputStatus", name="name", class="form-control", placeholder="", aria-describedby="helpId")
    script(src='/js/order.js')