doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title OTP Verification Form
  link(rel='stylesheet' href='/css/style_verify.css')
  link(href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet')
  script(src='/js/script_verify.js' defer='')
  .container
    header
      i.bx.bxs-check-shield
    h4 Enter OTP Code
    form(action='#')
      .input-field
        input(type='number')
        input(type='number' disabled='')
        input(type='number' disabled='')
        input(type='number' disabled='')
        input(type='number' disabled='')
        input(type='number' disabled='')
      button Verify OTP